torch>=1.12.1
omegaconf
hydra-core
scipy
h5py
python-dateutil
tqdm
pandas
mne
psutil
scikit-learn
imbalanced-learn
tensorboard
tensorboardX
torch_optimizer
gpytorch
tables
wandb
torchdiffeq
matplotlib
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
